*{
    margin: 0px;
    padding: 0px;
}
/* 
h1{
    font-size: 80px;
}

.classe-h1{
    font-size: 60px;
}

.classe-do-h1{
    color: blueviolet;
}

#id-h1{
    font-size: 40px;
} */
